body{
    margin: 0;
    overflow: hidden;
    text-align: center;
}


@font-face{
    font-family: "URW Gothic";
    src: url("../font/urw_gothic_l_book.ttf");
}


#readySpace{
    position: relative;
    top: 30vh;
    font-size: 1500%;
    font-family:  "URW Gothic";
}


#resultSpace{
    position: relative;
    top: 10vh;
    font-size: 500%;
    font-family: "URW Gothic";

}

#result{
    margin: 20px;
    font-size: 300%;
}


#exitButton{
    height: 100px;
    width: 90vw;
    margin-left: 5vw;
    border: 2px solid black;
    background-color: white;
    transition: all 500ms ease 0s;
}

#exitButton a{
    height: 100px;
    width: 90vw;
    font-size: 110%;
    margin: 0;
    text-decoration: none;
    display: block;
    color: black;
    margin: 0;
    transition: all 500ms ease 0s;
}

#exitButton span{
    position: relative;
    top: -10%;
}

#exitButton:hover{
    color: white;
    background-color: black;
}

#exitButton a:hover{
    color: white;
}
